body {
    margin: 0; /* 기본 여백 제거 */
    padding: 0; /* 기본 패딩 제거 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #313131;
}
canvas {
    display: block; /* 블록 레벨 요소로 설정 */
    max-width: 100%; /* 최대 너비를 100%로 설정 */
    height: auto; /* 자동 높이 설정 */
}